KAFKA_ENABLED=true
KAFKA_BROKERS=localhost:9092
KAFKA_TRACKING_TOPIC=tracking-events

SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_FROM=certificats@cours.local

TRACKING_GRPC_PORT=50052
CERTIFICATION_GRPC_PORT=50053
GATEWAY_PORT=3000

COURSE_GRPC_URL=localhost:50051
TRACKING_GRPC_URL=localhost:50052
CERTIFICATION_GRPC_URL=localhost:50053
